---
import { Image } from 'astro:assets';
import CakeSide from "../images/cake-side.jpg";
---
    <section id="about">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="section-title">
                    <p class="cs-topper">About Us</p>
                    <h1>Welcome to Cake Zone</h1>
                </div>

                <hgroup class="mb-5 pe-lg-5">
                    <p>Tempor erat elitr rebum clita. </p>
                    <p>Tempor erat elitr at rebum at at clita. Diam dolor diam ipsum et tempor sit. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit. Sanctus clita duo justo et tempor eirmod magna dolore erat amet magna</p>
                </hgroup>

                <div class="row pe-lg-5">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center  gap-3">
                            <!-- icon -->
                            <i class="fa-solid fa-check fs-1 red"></i>

                            <!-- text -->
                            <div>
                                <p class="cs-topper">100% HEALTHY</p>
                                <p>Labore justo vero ipsum sit clita erat lorem magna clita</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center  gap-3">
                            <i class="fa-solid fa-award fs-1 red"></i>
                            <div>
                                <p class="cs-topper">Award Winning</p>
                                <p>Labore justo vero ipsum sit clita erat lorem magna clita</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <picture class="cs-picture">
                    <Image src={CakeSide} alt="strawberry cake" decoding="async" loading="lazy" class="cake-side d-none d-lg-block h-100 w-100" />
                </picture>
            </div>
        </div>
    </div>
    </section>
    
<style>
    h1{
        background-position: center;
        object-fit: cover;
    }
</style>    