---
import FactsItem from '../components/FactsItem.astro'
---

<!-- Facts -->
<section id="facts" class="bg-light">
    <div class="container-lg">
        <div class="row gap-3 gap-lg-0">
            <FactsItem title="Our Experiences" quantity="675+" icon="fa-solid fa-star fs-1 red pe-lg-5" />
            <FactsItem title="Cake Specialist" quantity="187+" icon="fa-solid fa-cake-candles fs-1 red pe-lg-5" />
            <FactsItem title="Projects Finished" quantity="675+" icon="fa-solid fa-check fs-1 red pe-lg-5"/>
            <FactsItem title="Happy Customers" quantity="675+" icon="fa-regular fa-face-smile fs-1 red pe-lg-5"/>
        </div>
    </div>
</section>