---
const {title} = Astro.props
---
<header class="bg-light border-bottom">
    <div id="top-bar">
     <div class="container-lg d-none d-lg-block">
       <div class="row">
          <div class="col-lg-4 py-3">
              <div class="d-none d-lg-inline-flex">
                <i class="fa-solid fa-envelope red fs-1 me-3"></i>
                  <div class="text-start align-items-center">
                    <hgroup>
                      <h6 class="text-uppercase">Email Us</h6>
                      <p class="text-muted">cakezone@gmail.com</p>
                    </hgroup>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 text-center py-3 bg-red text-white">
              <div class="d-none d-lg-inline-flex align-items-center">
                  <a href="/" class="navbar-brand">
                      <h1><i class="fa fa-birthday-cake fs-1 me-3"></i>{title}</h1>
                  </a>
              </div>
          </div>
          <div class="col-lg-4 text-end py-3">
              <div class="d-none d-lg-inline-flex">
                <i class="fa-solid fa-phone red fs-1 me-3"></i>
                  <div class="text-start align-items-center">
                      <h6 class="text-uppercase">Call Us</h6>
                      <p class="text-muted">+012 345 6789</p>
                  </div>
              </div>
          </div>
        </div>
     </div> 
    </div>
    
    <nav id="nav" class="navbar navbar-expand-lg">
        <div class="container-lg">
          <a class="navbar-brand d-block d-lg-none" href="/">{title}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav mx-auto ">
              <a class="nav-link active" aria-current="page" href="/">HOME</a>
              <a class="nav-link" href="#about">ABOUT</a>
              <a class="nav-link" href="#menu">MENU & PRICING</a>
            </div>
          </div>
        </div>
      </nav>
</header>

<style>
  .nav-link{
    color: var(--primary);
  }
</style>